@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>.NET MVC with MongoDB Atlas</h1>
    <p class="lead">Connected to MongoDB Atlas free cluster</p>
    <p><a href="https://codewithsarath.com" class="btn btn-primary btn-lg">By Marco Bandeira</a></p>
</div>

